// Variables

// Breakepoints - widths

// $sm: 320px;
$md: 750px;
$xl: 940px;


// COLORS

$white: #fff;
$black: #222222;
$green: #7cc576;
$grey-bg: #f9f9f9;
$light-grey-text: #cccccc;
$dark-grey-text: #777777;



// TYPOGRAPHY

$Montserrat: 'Montserrat', sans-serif;
$RobotoS: 'Roboto Slab', serif;
$PTSans: 'PT Sans', sans-serif;


//montserat bold

 // SM
 $heading-height: 100px;

 $page-heading-sm: 40px;
 $page-subheading-sm: 16px;
 $section-heading-sm: 30px;
 $section-subheading-sm: 14px;
 $arcicle-heading-sm: 18px;
 $text-size-sm: 13px;
 $btn-font: 16px;
 $link: 16px;
 $quote-sm: 14px;
 $menu: 14px;

 $padding-section: 40px 15px 50px 15px;
 // MD

 $page-heading-md: 60px;
 $page-subheading-md: 20px;
 $secion-heading-md: 40px;
 $arcicle-heading-md: 18px;
 $text: 14px;
 $btn-font: 16px;
 $link: 16px;
 $quote: 22px;
 $menu: 14px;
 // XL

$page-heading-xl: 60px;
$page-subheading-xl: 20px;
$secion-heading-xl: 40px;
$arcicle-heading-xl: 18px;
$text: 14px;
$btn-font: 16px;
$link: 16px;
$quote: 22px;
$menu: 14px;
