// Variables

// CONTAINER MAX-W 
$sm: 540px;
$md: 720px;
$xl: 1140px;

// COLORS

$white: #ffffff;
$black: #000000;

$grey2: #222222;
$grey3: #333333;
$grey4: #444444;
$dark-blue: #290a59;
$card-link: #4eaeff;
$bg-section: #efeee9;
$bg-contact: #353535;

$twitt: #1dcaff;
$fb: #3b5998;
$insta: #4c68d7;
$yt: #cc181e;

$nav-background: rgba(255, 255, 255, 0.7);


// TYPOGRAPHY

$Roboto: 'Roboto', sans-serif;
$RobotoS: 'Roboto Slab', serif;

$thin: 100;
$light: 300;
$bold: 700;
$f-black: 900;

