// Variables

// Max - widths Container

$sm: 320px;
$md: 750px;
$xl: 1200px;


// COLORS

$white: #ffffff;
$nav-white: rgba(255,255,255,0.9);

$black: #000000;
$text-black: #595959;
$text-grey: #c1c1c1;
$red: #d07c7c;




// TYPOGRAPHY

$DancingS: 'Dancing Script', cursive;
$PlayF: 'Playfair Display', serif;
$Raleway: 'Raleway', sans-serif;


$light: 100;
$regular: 400;
$medium: 500;


